

<div class="container">
    <a href="/"><input type="button" value="homepage"></a>
    <h2>My Tweets</h2>
    {{my_user}}
    {% if my_user != user %}
    <a href="/following/{{current_user.id}}/">Follow</a>
    <a href="/unfollowing/{{current_user.id}}/">UnFollow</a>
    {%endif%}
    <h1>Following: {{follow_count}}</h1>
    <h1>Tweets: {{tweets.count}}</h1>
    <ul>
        {% for tweet in tweets reversed%}
        @ {{ tweet.author }} - <a href="/tweet_detail_view/{{ tweet.id }}/">{{ tweet.post_date }}</a>
        <p>{{ tweet.body}}</p>
        {% endfor %}
    </ul>
</div>